body{
    width: 800px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

html{
    @media (min-width: 640px) {
        background-color: #eaf6ff;
        font-size: 2.5rem;
    }

    @media (max-width: 500px) {
        h1{
            font-size: 1.5rem;
        }
        }
    
    @media (min-width:480px) {
        .twogrid li{
            width: 50%;
        }
    }

    @media (min-width:640px) {
        .twogrid li{
            width: 25%;
        }
    }
}

.flex{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}

.flex aside{
    width: 170px;
    margin: 10px;
}

.flex li {
    font-size: 0.8em !important;
    display: block;
}

.twogrid{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}

.twogrid li{
    width: 100%;
    display: block;
}

.twogrid aside{
    margin: 10px;
}