header{
    margin-bottom: 3rem;
}

p{
    line-height: 1.6;
}

.see-all{
    font-size: 0.8em;
    text-transform: uppercase;
}

h1{
    font-size: 2.5rem;
    font-weight: 200;
    border-top: 1px solid black;
}

h2{
    text-transform: uppercase;
    font-size: 1rem;
}

img{
    width: 100%;
}

.cast li{
    width: 25%;
}

.selected{
    font-weight: bold;
    color: black;
}

.cast div:first-of-type{
    font-weight: 700;
}

.cast div:last-of-type{
    font-style: italic;
}

#game-of-thrones .seasons li:last-of-type::after{
    content: "*";
}

#game-of-thrones .seasons::after{
    content: "*Final Season";
    font-size: 0.7rem;
    color: #999;
}