.static-example .positioned-element{
    background-color: green;
}

.relative-example .positioned-element{
    background-color: lightblue;
    position: relative;
    left: 100px;
    top: 50px;
    z-index: -1;
}

.absolute-example .positioned-element{
    background-color: red;
    position: absolute;
    top: 0;
    right: 0;
}

.absolute-example{
    position: relative;
}

.fixed-example .positioned-element{
    position: fixed;
    background-color: purple;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.sticky-example .positioned-element{
    background-color: orange;
    position: sticky;
    top: 50px;
}